<div class="container-fluid">
  <!-- start page title -->
  <app-page-title title="Archive" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- end page title -->

  <div class="row" *ngIf="(observableList | async)?.length">

    <ng-container *ngFor="let cardData of observableList | async">
      <app-text-generator-archive-card [data]="cardData"></app-text-generator-archive-card>
    </ng-container>

  </div>

  <div *ngIf="!(observableList | async)?.length" class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <div class="card bg-warning text-white-50" (click)="onClickEmptyListCard()">
        <div class="card-body">
          <h5 class="mt-0 mb-4 text-white">
            <i class="mdi mdi-alert-outline mr-3"></i>There is no archived item
          </h5>
          <p class="card-text text-white">
            You can create and archive a new text completion by clicking this card.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3"></div>
  </div>

</div>
