<div class="container-fluid">
  <!-- start page title -->
  <app-page-title title="Prompt" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- end page title -->

  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Prompt</h4>
          <p class="card-title-desc">
            Prompt Description
          </p>
          <form (ngSubmit)="submitPrompt()" [formGroup]="promptValidationForm">
            <div class="mb-3">
              <label>AI Engine</label>
              <div>
                <ng-select [items]="engines" formControlName="engine"
                           bindValue="id" bindLabel="name"
                           [ngClass]="{'is-invalid': promptSubmit && form.engine.errors}"
                           required
                ></ng-select>
                <div *ngIf="promptSubmit && form.engine.errors" class="invalid-feedback">
                  <span *ngIf="form.engine.errors.required">This value is required.</span>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Prompt</label>
              <div>
                <textarea formControlName="textarea" class="form-control" rows="5"
                          [ngClass]="{'is-invalid': promptSubmit && form.textarea.errors}"></textarea>
                <div *ngIf="promptSubmit && form.textarea.errors" class="invalid-feedback">
                  <span *ngIf="form.textarea.errors.required">This value is required.</span>
                </div>
              </div>
            </div>

            <div class="d-flex flex-wrap gap-2">
              <button type="submit" class="btn btn-primary waves-effect waves-light">
                Submit
              </button>
              <button type="reset" class="btn btn-secondary waves-effect">
                Reset
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Responses</h4>
          <p class="card-title-desc">
            Responses Description
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
